Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
ansible==1.7.2
argparse==1.2.1
boto==2.34.0
chardet==2.3.0
colorama==0.3.2
crcmod==1.7
ecdsa==0.11
google-compute-engine==2.3.5
graphitesend==0.10.0
html5lib==0.999
httplib2==0.9
influxdb==4.0.0
paramiko==1.15.1
prometheus-client==0.0.19
pycrypto==2.6.1
python-dateutil==2.6.0
pytz==2016.10
requests==2.4.3
six==1.10.0
urllib3==1.9.1
wheel==0.24.0
wsgiref==0.1.2
